/* Style.module.css */
.card {
  border: 2px solid #eee;
  padding: 20px;
  width: 200px;
  border-radius: 6px;
  background-color: white;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: rgb(21, 1, 1);
}

.price {
  color: green;
  font-weight: bold;
}
